$mainFont:'PT Sans', sans-serif;
$mainGrey: #dcdcdc;
$mainColor: #042c47;
$mainBlue: #23BFD0;
$lightBlue: #33B3CA;
$mainRose: #CA549F;
$settingsBg: #3D4A59;
$Grey2: #767676;
$MainOrange: rgb(237, 138, 25);
$veryBigFz: 70px;
$bigFz: 60px;
$middleBigFz: 50px;
$middleFz: 40px;
$middleSmallFz: 30px;
$normalBigFz: 25px;
$normalFz: 20px;
$smallBigFz: 18px;
$smallFz: 16px;
$smallSmallFz: 14px;
$borRad: 3px;

