.filmLink{
  display: flex;
  flex-wrap: wrap;
  width: 25%;
  padding: 10px;

  &__link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__topBlock{
    display: flex;
    justify-content: space-between;
    height: 36px;
  }

  &__title{

  }

  &__img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    object-position: 0 0;
  }


}