.nav{
  padding: 5px 0;
  border-bottom: 1px solid #f1f1f1;
  &__link{
    text-decoration: none;
    color: #fff;
    margin-right: 5px;

    &-active{
      text-shadow: 0 0 5px $MainOrange;
    }

    &:hover{
      text-shadow: 0 0 2px $MainOrange;
    }
  }
}