.starButton{
  width: 20px;

  &:hover{
    path {
      stroke: $MainOrange;
    }
  }

  path{
    fill: rgba(255,255,255,.4);
    stroke: black;
    stroke-width: 2px;
  }
  &-starred{
    path{
      fill: $MainOrange;
    }
  }
}