
* {
  outline: none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.25;
  margin: 0;
}

a {
  color: rgba(77, 161, 255, 0.9);
  outline: none;
}

*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}

*::-moz-focus-inner {
  border: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
  border: none;
}

button {
  //border: none;
  cursor: pointer;
  outline: none;
  //background: transparent;
  padding: 5px;
  margin: 5px;
}


.none {
  display: none;
}

body {
  background: rgba(0, 102, 255, 0.38);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0 0 5px;
}

.taskWrapper {
  max-width: 500px;
  margin: 0 auto;
}

.taskForm {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;

  &__input {
    display: block;
    margin: 10px 0;
    padding: 5px;
  }
}

.taskList {
  border: 1px solid black;
  padding: 5px 10px;

  &__task{
    background: #fff;
    padding: 10px;
    margin: 5px 0;
  }
}