.task{
  display: flex;
  justify-content: space-between;
  &__info{
    max-width: 80%;
    flex-grow: 1;
    overflow: hidden;
  }
  &__buttons{
    flex-wrap: wrap;
    width: 60px;
  }
  &__button{
    margin: 2px;
    width: 25px;
  }

  &__project{
    font-style: italic;
  }

  &__priority{
    font-weight: bold;
  }
}