.taskControlBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;

  &__radio{
    display: flex;
    align-items: center;
  }

  &__search{
    max-width: 100px;
  }
  input{
    margin: 0;
  }
}